@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
  --primary: #FF13B1;
  --secondary: #BD0912;
  --accent: #718096;
  --background: #fff;
  --main: #0d0106;
  --header: #2d3748;
}

body {
  font-family: "Poppins,sans-serif";
}

* {
  margin: 0;
  padding: 0;
}

.html {
  width: 100vw;
  height: 100vh;
  color: #fff;
}

.landing-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111418;
}

.landing-page-sidebar {
  flex: 20%;
  height: 100%;
  width: 100%;
  position: sticky;
  border-right: 1px dotted #dee3e4;
}





.profile-container:hover {
  clip-path: circle(400px at center 10px);
  transition: 0.5s ease-in-out;
  transition-delay: 0.5s;
}




/* landing-page-body container */

.container {
  flex: 80%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.landing-page-body {
  position: relative;
  width: 100%;
  height: 100%;
}

.landing-page-body::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: #dedede; */
  /* background-color: #111418; */
  background: url(assets/profile.jpg) no-repeat;
  background-size: cover;
  opacity: 0.9;
  animation: profile 10s linear infinite;
}

@keyframes profile {
  50% {
    transform: scale(0.90);
  }

  100% {
    transform: scale(1);
  }
}

.landing-page-body-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  padding: 0px 40px;
  text-align: center;
  letter-spacing: 0.1em;
}

.landing-page-body-content h1 {
  color: #fff;
  padding-bottom: 20px;
  font-size: 35px;
  font-weight: 300;

}

.landing-page-body-content p {
  color: #f6f6f6;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 40px;
}

.landing-page-body-content a {
  display: inline-block;
  text-decoration: none;
  color: #FF13B1;
  font-size: 20px;
  border: 2px solid #ff7979;
  padding: 10px 20px;
}

.landing-page-body-content a:hover {
  color: #fff;
  background: #e20ce2;
}

